$primary-color: #ffffff;
$secondary-color: #40d391;
$third-color: #eef3f1;
$hover-secondary-color: #c4f8dd;
$text-color: #000000;
$secondary-text-color: #c4d2cb;

@mixin borderRadius($size) {
  border-radius: $size;
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  -ms-border-radius: $size;
  -o-border-radius: $size;
}

@mixin lineClamp($number) {
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin transition($property, $time, $aceleration) {
  transition: $property $time $aceleration;
  -webkit-transition: $property $time $aceleration;
  -moz-transition: $property $time $aceleration;
  -ms-transition: $property $time $aceleration;
  -o-transition: $property $time $aceleration;
}
