@import "../../base";

.CategoriesMenu {
  position: absolute;
  top: 8vh;
  width: 100%;
  background-color: $third-color;
  max-height: 250px;
  opacity: 0;
  visibility: hidden;
  @include transition(opacity, 1s, ease-in-out);
  &.isActive {
    opacity: 1;
    visibility: visible;
  }
  &__ul {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    list-style: none;
    padding: 24px;
  }

  &__genre {
    flex-grow: 1;
    width: 33%;
    font-size: 1.4rem;
    margin-bottom: 4px;
    span {
      font-weight: bold;
      cursor: pointer;
    }
    span:hover {
      color: $secondary-color;
      border-bottom: 1px solid $secondary-color;
    }
  }
}

@media (max-width: 767px) {
  .CategoriesMenu {
    left: 0;
    max-height: 90vh;
    &__ul {
      flex-direction: column;
      flex-wrap: nowrap;
      margin: 0;
      width: 100%;
    }
  }
}
